<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboardstyle.css') }}">
    <title>Welcome</title>
</head>
<body>
    <div id="navbar">
        <div id="leftnav">
            <img src="{{ url_for('static', filename='img/Airplane-30.png') }}">
            <span>TeamTravel</span>
        </div>
        <div id="rightnav">
            <ul>
                <li><a href="/new/trip">Create</a></li>
                <li><a href="/searchpage">Search</a></li>
                <li><a href="/mytripspage">My Trips</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
    <h1> Welcome, {{user.first_name}}! Let's get looking and booking.</h1>
    <h3>Popular Trip Suggestions:</h3>
    <div id="populartrips">
        <div id="triptext">
            <h6>Filler text for current and most recent trips....</h6>
            <h6>Filler text for current and most recent trips....</h6>
            <h6>Filler text for current and most recent trips....</h6>
            <h6>Filler text for current and most recent trips....</h6>
            <h6>Filler text for current and most recent trips....</h6>
            <h6>Filler text for current and most recent trips....</h6>
            <h6>Filler text for current and most recent trips....</h6>
            <h6>Filler text for current and most recent trips....</h6>
        </div>
        <div id="tripphotos">
            <img src="{{ url_for('static', filename='img/dashboardphotos.png') }}">
        </div>
    </div>

</body>
</html>