body{
    background-image: url(../img/createbackground.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

}

#leftnav img{
    height:85px;
    margin:0px;
    padding:0px;
}

#leftnav{
    display:flex;
    align-items:center;
}

#navbar{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    background-color:#AD8A80;
    padding-right:20px;
    padding-left:20px;
}
#leftnav span{
    color:white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:40px;
}
ul{
    display:flex;
    flex-direction:row;
    list-style-type: none;
    margin:0px;
    padding:0px;
}

li{
    margin:15px;
    font-size:20px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white;
    text-decoration-style: none;
}

a{
    text-decoration:none;
    color:white;
}

a:hover{color:black;}

h1{
    color:white;
    text-align:center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:300;
    font-size:35px;
    margin-top:70px;
    padding:10px;
}

h3{
    color:white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:20px;
    text-align:center;
}

a{
    color:white;
}

#confirmbox{
    background-color:#AD8A80;
    width:50%;
    height:300px;
    align-content: center;
    margin-top:150px;
    margin-left:300px;
    border:white 4px solid;
}