body{
    background-image: url(../img/createbackground.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

}

#leftnav img{
    height:85px;
    margin:0px;
    padding:0px;
}

#leftnav{
    display:flex;
    align-items:center;
}

#navbar{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    background-color:#AD8A80;
    padding-right:20px;
    padding-left:20px;
}
#leftnav span{
    color:white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:40px;
}
ul{
    display:flex;
    flex-direction:row;
    list-style-type: none;
    margin:0px;
    padding:0px;
}

li{
    margin:15px;
    font-size:20px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white;
    text-decoration-style: none;
}

a{
    text-decoration:none;
    color:white;
}

h4{
    color:white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:40px;
    margin-top:80px;
    margin-right:180px;
    text-align:right;
    font-weight:200;
}

#memories{
    font-style:italic;
    font-weight:bold;
}

form{
    background-color:#AD8A80;
    border:#FFFFFF 6px solid;
    border-radius:8px;
    margin:20px;
    margin-left:660px;
    color:white;
}

.row{
    margin-bottom:10px;
}

.submitbutton{
    background-color:#FFF2F2;
    color:#AD8A80;
    font-weight: 500;
    border-radius:10px;
    margin-left:140px;
    margin-right:140px;
    margin-top:10px;
    padding:10px;
    text-align:center;
}
