form{
    background-color:#AD8A80;
    border-radius:8px;
    margin:20px;
}
#forms{
    display:flex;
    margin-right:100px;
    margin-left:100px;
}

#teamtravel{
    margin-left:100px;
    margin-top:80px;
}
h1{
    color:white;
    font-size:70px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
.col-5{
    height:fit-content;
    margin-top:60px;
    margin-right:0px;

}

.col-4{
    margin-left:150px;
    margin-top:0px;
}
body{
    background-image: url(../img/loginbackground.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.row{
    margin-top:25px;
}

.mainsubtext{
    font-style:italic;
    color:white;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    font-size:30px;
    margin-left:12px;
    
}

.subtextform{
    font-style:italic;
    font-size:16px;
    color:white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align:center;
}

label,.textform{
    color:white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.textform{
    text-align:center;
}
.submitbutton{
    background-color:#FFF2F2;
    color:#AD8A80;
    font-weight: 500;
    border-radius:10px;
    margin-left:140px;
    margin-right:140px;
    margin-top:10px;
    padding:10px;
    text-align:center;
}