body{
    background-image: url(../img/viewbackground.jpg);
    background-repeat: no-repeat;
    background-size:center;
    background-size:100%;

}

#leftnav img{
    height:85px;
    margin:0px;
    padding:0px;
}

#leftnav{
    display:flex;
    align-items:center;
}

#navbar{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    background-color:#AD8A80;
    padding-right:20px;
    padding-left:20px;
}
#leftnav span{
    color:white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:40px;
}
ul{
    display:flex;
    flex-direction:row;
    list-style-type: none;
    margin:0px;
    padding:0px;
}

li{
    margin:15px;
    font-size:20px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white;
    text-decoration-style: none;
}

a{
    text-decoration:none;
    color:white;
}

a:hover{color:black;}

h4{
    color:white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:40px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    text-align:center;
    margin:30px;
}

h3{
    color:white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    font-size:20px;
    text-align:center;
}


#rsvpbox{
    margin:50px;
    margin-top:20px;
    background-color:#FFFFFF;
    padding:20px;
    width:50%;
    border-radius:8px;
    opacity:0.8;
    margin-left:345px;
}

#rsvpbox p{
    font-size:25px;
}

