body{
    background-image: url(../img/mytripsbackground.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

}

#leftnav img{
    height:85px;
    margin:0px;
    padding:0px;
}

#leftnav{
    display:flex;
    align-items:center;
}

#navbar{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    background-color:#AD8A80;
    padding-right:20px;
    padding-left:20px;
}
#leftnav span{
    color:white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:40px;
}
ul{
    display:flex;
    flex-direction:row;
    list-style-type: none;
    margin:0px;
    padding:0px;
}

li{
    margin:15px;
    font-size:20px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white;
    text-decoration-style: none;
}

a{
    text-decoration:none;
    color:white;
}

a:hover{color:black;}

h4{
    color:white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:40px;
    margin-top:30px;
    margin-right:180px;
    text-align:right;
    font-weight:200;
}

#main{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

h3{
    color:white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    text-align:center;
    font-size:40px;
    margin-top:30px;
    
}

h6{
    color:black;
    font-size:23px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.tripbox{
    margin:50px;
    margin-top:20px;
    background-color:#FFFFFF;
    padding:20px;
    border-radius:8px;
    opacity:0.8;
}

.tripbox a{
    background-color:rgba(153, 114, 102, 2);
    color:white;
    font-weight: 500;
    border-radius:10px;
    margin:20px;
    width:80px;
    text-align:center;
    margin-top:10px;
    
}

#buttons{
    display:flex;
    flex-direction:row;
}

#rsvpbutton{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:25px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    margin-left:170px;
    margin-top:-20px;
    background:#AD8A80;
    padding:15px;
    border-radius:10px;
    border:white 2px solid;
}